# .env.example
# Copy file này thành .env để thiết lập thông số trên Server thực tế nhé!

# Nếu dùng SQLite (mặc định cho dễ mang đi backup):
DATABASE_URL=sqlite:///./couple_gallery.db

# Nếu muốn dùng MySQL (nhớ cài pip install pymysql)
# DATABASE_URL=mysql+pymysql://myuser:mypassword@localhost/couple_gallery

# Nếu muốn dùng PostgreSQL (nhớ cài pip install psycopg2-binary)
# DATABASE_URL=postgresql://myuser:mypassword@localhost/couple_gallery
